$color-cliente: #565759;
$color-cliente2: #69133a;
$color-cliente3: #cecece;
$color-cliente4: #926c50;
$primary: $color-cliente;
$secondary: $color-cliente2;
$body-color: $color-cliente;
$font-family-base: "Roboto", "Helvetica Neue", Arial;
$font-size-sm: .8rem;
$line-height-sm: 1;
$line-height-lg: 2;
$list-inline-padding-lg: 1.5rem;
$enable-responsive-font-sizes: true;
$border-radius-lg: .5rem;
$card-inner-border-radius: .5rem;
$input-color: $color-cliente;
$input-placeholder-color: #afafaf;
$input-font-size: .875rem;
$dropdown-link-color: $color-cliente;
$dropdown-link-active-color: $color-cliente;
$dropdown-item-padding-y: .25rem;
$dropdown-item-padding-x: .5rem;
$theme-colors: (
        "white": #fff
);
